:root{

    --primary:#111;
    --secondary:#666;
    --bg:#f5f5f5;
    --white:#fff;
    --border:#eaeaea;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI', sans-serif;

    background:var(--bg);

    color:var(--primary);

}

/* NAVBAR */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:var(--white);

    border-bottom:1px solid var(--border);

    position:sticky;
    top:0;

}

.logo{

    font-size:22px;
    font-weight:700;

    cursor:pointer;

}

.nav-right{

    display:flex;
    align-items:center;

    gap:15px;

}

.logout{

    padding:10px 18px;

    border:none;

    border-radius:8px;

    background:red;
    color:white;

    cursor:pointer;

}

/* CONTAINER */

.container{

    padding:40px;

}

.section{

    margin-bottom:50px;

}

.section-header{

    margin-bottom:20px;

}

.section-header h2{

    margin-bottom:5px;

}

.sub{

    color:var(--secondary);

}

/* CARD */

.card{

    background:var(--white);

    border-radius:16px;

    padding:20px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.05);

    overflow-x:auto;

}

/* TABLA */

.tabla{

    width:100%;

}

.fila{

    display:grid;

    grid-template-columns:
    repeat(5,1fr);

    gap:15px;

    padding:15px 0;

    border-bottom:1px solid #eee;

    align-items:center;

}

.header{

    font-weight:bold;

}

/* BADGES */

.estado{

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;

    width:max-content;

}

.activo{

    background:#d4ffd9;

    color:green;

}

/* BOTONES */

.btn-delete{

    border:none;

    padding:8px 14px;

    border-radius:8px;

    background:red;

    color:white;

    cursor:pointer;

}

.btn-delete:hover{

    opacity:0.8;

}

/* STATS */

.stats{

    margin-top:20px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

    gap:20px;

}

.box{

    background:white;

    padding:25px;

    border-radius:14px;

    text-align:center;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.05);

}

.box b{

    font-size:28px;

}

.verde b{

    color:green;

}

/* RESPONSIVE */

@media(max-width:768px){

    .container{

        padding:20px;

    }

    .navbar{

        padding:20px;

    }

    .fila{

        min-width:800px;

    }

}